
nav {
	/* border: solid black; */
	margin: 0px 3vw 0px 3vw;
	box-sizing: content-box;
	filter: drop-shadow(0.5vw 2vh 4.3px #867686b4);
}
.container{
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;

}

.divider{
	block-size: 1vh;
	margin: 0.13vh 4vw;
	background-color: #835f94;
	border-bottom: solid 1vh #000000;
}
.nav-link {
	font-size: 2.5rem;
	font-weight: bold;
}

.dt-panel{
	box-sizing: content-box;
	background-color: black;
}
